@use "./typograpgy" as *;
@use "./variable" as *;
@use "./mixins" as *;

html,
body {
    padding: 0px;
    margin: 0px;
    font-family:"Avenir";
}

.nav-bar {
    display: flex;
    background-color: $primary-color-black;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items:center;
    }


    &__applogo {
        width: 40vw;
        align-self: center;  
        padding: 24px;  

        @include tablet {
            width: 15vw;
            margin-left: 7vw;
            padding: 24px 0;
            align-self: flex-start;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
    }

    &__item { 
        display: flex;
        justify-content: center;
        width: 50vw;
        padding-bottom: 12px;

        @include tablet {
            width: 100%;
            margin-left: 5vw;
            padding: 28px 0;
        }

        @include desktop {
            margin-left: 7vw;

        }
    }

    

    &__selected {
        border-bottom: 4px solid $primary-color-white;
        font-weight: 500;
    }

    &__tab {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-self: center;
        justify-content: center;
        color: $primary-color-silver;
        font-size: 1.5rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            font-size: 1.3rem;
            align-items: center;
        }
    }

    &__inactive {
        color: $primary-color-white;
    }


}