@use "./partials/typograpgy" as *;
@use "./partials/variable" as *;
@use "./partials/mixins" as *;
@use "./partials//global" as *;

.hero-container {
  width: 100%;
  height: 400px;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include tablet {
    height: 700px;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(0, 0%, 20%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__name {
    margin: 0;
    font-size: 2rem;
    color: $primary-color-white;
    margin-left: 16px;

    @include tablet {
      font-size: 4rem;
    }
  }
}

.about-container {
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: $primary-color-white;

  &__title {
    align-items: flex-start;
    font-size: 2rem;
    @include tablet {
      font-size: 3rem;
    }
  }

  &__img-banner {
    width: 80vw;
    align-self: center;
  }

  &__desp {
    width: 80vw;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 500;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__author {
    width: 80vw;
    align-self: center;
    font-family: "Avenir";
    font-size: 1rem;
    font-weight: 500;
    margin: 0;

    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__desp-cont {
    width: 80vw;
    align-self: center;
  }

  &__sub-title {
    align-self: flex-start;
    font-family: "Avenir";
    font-size: 2rem;
    font-weight: 400;
    margin: 50px 0 0 0;
  }

  &__details {
    display: block;

    @include tablet {
      display: flex;
      flex-direction: row;
    }

    &--one {
      width: 80vw;
      @include tablet {
        width: 40vw;
        margin-right: 20px;
      }
    }

    &--desp {
      font-size: 1rem;
      @include tablet {
        font-size: 1.5rem;
      }
    }
  }

  &__gallery {
    background-color: $secondary-color-alabaster;
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    margin: 0;
    justify-self: center;
  }

  &__images {
    width: 100%;

    @include tablet {
      width: 28vw;
      margin: 5px;
    }
  }
}

.fcontainer {
  position: relative;
  background-color: $primary-color-black;
  padding: 16px;

  &__social {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    align-items: flex-start;
    font-size: 2rem;
    color: $secondary-color-alabaster;

    @include tablet {
      font-size: 3rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    @include tablet {
      margin-left: 40px;
    }
  }

  &__item {
    margin-right: 40px;
  }

  &__img {
    width: 3.5vw;
    &--facebook {
      width: 2vw;
    }
  }

  &__body {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__newyork, &__america{
    flex-grow: 1;
  }
  &__europe {
    flex-grow: 2;
  }

  &__name, &__address , &__email, &__copyright {
    color: $secondary-color-alabaster;
  }


  &__applogo {
    &--img {
      width: 20vw;
    }

    @include tablet {
      position: absolute;
      top: 0;
      right: 0;
      margin: 70px 16px 0 0;
    }
  }
}
