@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf"), url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 500;
}
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Avenir";
}

.nav-bar {
  display: flex;
  background-color: #323232;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.nav-bar__link {
  align-self: center;
}
.nav-bar__applogo {
  width: 40vw;
  align-self: center;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .nav-bar__applogo {
    width: 15vw;
    margin-left: 7vw;
    padding: 24px 0;
    align-self: flex-start;
  }
}
.nav-bar__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
.nav-bar__item {
  display: flex;
  justify-content: center;
  width: 50vw;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .nav-bar__item {
    width: 100%;
    margin-left: 5vw;
    padding: 28px 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__item {
    margin-left: 7vw;
  }
}
.nav-bar__selected {
  border-bottom: 4px solid #FFFFFF;
  font-weight: 500;
}
.nav-bar__tab {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-self: center;
  justify-content: center;
  color: #AFAFAF;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav-bar__tab {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    align-items: center;
  }
}
.nav-bar__inactive {
  color: #FFFFFF;
}

.fcontainer {
  position: relative;
  background-color: #323232;
  padding: 16px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .fcontainer {
    padding: 0 5vw 5vw 5vw;
  }
}
@media screen and (min-width: 768px) {
  .fcontainer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.fcontainer__title {
  align-items: flex-start;
  font-size: 2.5rem;
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .fcontainer__title {
    font-size: 3rem;
  }
}
.fcontainer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .fcontainer__list {
    margin-left: 40px;
  }
}
.fcontainer__item {
  margin-right: 40px;
}
.fcontainer__img {
  width: 40px;
}
.fcontainer__img--facebook {
  width: 25px;
}
@media screen and (min-width: 768px) {
  .fcontainer__img {
    width: 3.5vw;
  }
  .fcontainer__img--facebook {
    width: 2vw;
  }
}
@media screen and (min-width: 768px) {
  .fcontainer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.fcontainer__newyork, .fcontainer__america {
  flex-grow: 1;
}
.fcontainer__europe {
  flex-grow: 2;
}
.fcontainer__name, .fcontainer__address, .fcontainer__email, .fcontainer__copyright {
  line-height: 1.5rem;
  color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .fcontainer__name, .fcontainer__address, .fcontainer__email, .fcontainer__copyright {
    line-height: 2rem;
  }
}
.fcontainer__address, .fcontainer__email {
  font-size: 1rem;
  text-decoration: none;
}
.fcontainer__applogo--img {
  width: 40vw;
}
@media screen and (min-width: 768px) {
  .fcontainer__applogo--img {
    width: 20vw;
  }
}
@media screen and (min-width: 768px) {
  .fcontainer__applogo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px 5vw 0 0;
  }
}

.hero-container {
  width: 100%;
  height: 500px;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero-container {
    height: 600px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    height: 700px;
  }
}
.hero-container__name {
  margin: 0;
  font-size: 2rem;
  color: #FFFFFF;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .hero-container__name {
    font-size: 2.5rem;
    margin-left: 7vw;
  }
}
.hero-container__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-container__ads-text {
  font-size: 3.4rem;
  color: #FFFFFF;
  margin: 8px 16px;
}
@media screen and (min-width: 768px) {
  .hero-container__ads-text {
    font-size: 5rem;
    margin-left: 7vw;
  }
}
.hero-container__soundcloud {
  margin: 16px;
}
@media screen and (min-width: 768px) {
  .hero-container__soundcloud {
    width: 40%;
    margin-left: 7vw;
  }
}

.shows-container {
  padding: 16px;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .shows-container {
    padding: 24px 7vw;
  }
}
@media screen and (min-width: 1280px) {
  .shows-container {
    padding: 36px 7vw;
  }
}
.shows-container__title {
  align-items: flex-start;
  font-size: 2rem;
  margin: 16px 0;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .shows-container__title {
    font-size: 3rem;
    margin: 24px 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows-container__title {
    margin: 36px 0;
  }
}
.shows-container__ticket-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .shows-container__ticket-list {
    margin: 0;
    padding: 0;
  }
}
.shows-container__ticket-item {
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .shows-container__ticket {
    display: flex;
    flex-direction: row;
  }
}
.shows-container__ticket-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows-container__ticket-header {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .shows-container__ticket-section {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .shows-container__ticket-label-header {
    display: flex;
    width: 30%;
    color: #AFAFAF;
    font-size: 1rem;
  }
}
.shows-container__ticket-label {
  color: #AFAFAF;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .shows-container__ticket-label {
    display: none;
  }
}
.shows-container__ticket-date {
  color: #000000;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}
.shows-container__ticket-venue, .shows-container__ticket-location {
  color: #323232;
  font-size: 1.2rem;
  margin: 0;
}
.shows-container__button {
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  color: #FFFFFF;
  border: 2px solid #323232;
  background-color: #323232;
  border-radius: 5px;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .shows-container__button {
    width: 30%;
  }
}
.shows-container__divider {
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */